.headers {
	text-align: center;
	font-family: sans-serif;
	background-color: #C0C0C0; 
	color: white; 
}

#writtenQuestion, label {
	font-family: sans-serif;
	color: #C0C0C0;
}

#reviewSection {
	display: none;
}

.answerChoices {
	display: block;
}

ul li {
	list-style-type: none;
}

html {
	font-family: sans-serif;
}